  #letter-box {
                width: 95%;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
            }

  .letter{

                width: 300px;
                margin: 20px auto;
                padding: 10px;
                border: black solid;
                border-radius: 5px;
  }
  .letter-img-top{
                margin: auto;
                width: 100%;
  }