nav{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login section{
    display: none;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 400px;    
}

section.show{
    display: flex;
}

.input-group.mb-3{
    width: 500px;
}
.input-group-text{
    width: 120px;
}

.login.open_btn{
    display: none;
}

.user_component{
    display: none;
}
.login.user_component{
    display: inline-block;
}

.input_box{
    width: 1500px;
    padding-left: 500px;
}

.button_box input{
    background-color: #efefef;
    color:black;
    border: none;
}