.searchbar{
    width: 100%;
    margin: 20px 0;    
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.search_insert{
    text-align: center;
}

.input-group .new_news{
    margin: 0 10px;
}

