<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="뉴편함" />
    <meta property="og:description" content="뉴스레터를 모아서 보고, 관리하자" />
    <meta property="og:image" content="{{ url_for('static', filename='og.png') }}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>


    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Nanum+Pen+Script&display=swap" rel="stylesheet">

    <!--favicon-->    
    <link rel="icon" href="../static/favicon.ico" />
    <link rel="shortcut icon" href="../static/favicon.ico" />

    <title>뉴편함</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/loginStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/css/letterStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/css/searchbarStyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> <!--CDN 링크 -->


    <script>
        {#let newsletters = '{{ newsletters }}'#}
        let status = '{{ status }}'

        {#        검색을 위한 배열#}
       
        let newslettersjson = {{ newsletters|safe }};
        
        let newsletter_list = [];

        for (let i = 0; i < newslettersjson.length; i++) {
            newsletter_list.push(newslettersjson[i]["title"])
        }
        //검색
        function search_newsletter() {


            let newsletterVal = $('#input-newsletter').val()
            let count = 0;

            $('#letter-box').empty();


            //아무것도 입력하지 않았을때
            if (newsletterVal == "") {
                console.log("값입력 ㄲㄱ")
                return
            }

            {#돌려돌려 검색판 #}

            for (let i = 0; i < newsletter_list.length; i++) {
                let letter = newsletter_list[i];

                if (letter.includes(newsletterVal)) {
                    count = count + 1
                    console.log(count)
                    console.log('맞음', newsletter_list[i])
                    let temp = `<div id="newsletters-${newslettersjson[i].title_news}" class="letter" style="size:300px">
                                        <img class="card-img-top" src="${newslettersjson[i].image}" alt="Card image cap">
                                        <div class="card-body">
                                            <a target="_blank" href="${newslettersjson[i].url}" class="card-title">${newslettersjson[i].title}</a>
                                            <p class="category">${newslettersjson[i].category}</p>
                                            <p class="card-text">${newslettersjson[i].desc}</p>
                                            <p class="card-text comment"></p>
                                        </div>
                                        <footer class="card-footer">
                                            <a href="#" onclick="deleteLetters('${newslettersjson[i].title}')" class="card-footer-item has-text-danger">삭제<span
                                                    class="icon">
                                                                          <i class="fas fa-ban"></i>
                                                                        </span>
                                            </a>
                                        </footer>
                                    </div>
                                </div>
                                `

                    $('#letter-box').append(temp)
                }
            }

            if (count == 0) {
                alert('검색결과가 없어요')
                location.reload();
            }
        }

    </script>
</head>
<body>

<nav>
    
    <span class="title">  뉴편함 <img src="../static/favicon.ico"></img></span>
    <div class="button_box">      
        {# <input type="button" value="데이터넣기" onclick="insertData()" > #}
        <input class="btn btn-primary open_signup_btn open_btn" type="button" value="회원가입">
        <input class="btn btn-primary open_login_btn open_btn" type="button" value="로그인">
        {% if status %}
            <span class="user_component">{{ status['name'] }}님 환영합니다!</span>            
        {% endif %}            
        <input class="btn btn-primary logout_btn user_component" type="button" value="로그아웃">
        
    </div>
</nav>
<div class="login">
    <section class="signup_section">
        <span>회원가입</span>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">이름</span>
            </div>
            <input type="text" id="s_myname" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">메일</span>
            </div>
            <input type="text" id="s_email" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">비밀번호</span>
            </div>
            <input type="password" id="s_password" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">비밀번호 확인</span>
            </div>
            <input type="password" id="s_password_check" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default" >
        </div>
        <button type="button" id="signup_btn" class="btn btn-info">가입하기</button>
    </section>
    <section class="login_section">
        로그인
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text ">이메일</span>
            </div>
            <input type="text" class="form-control login_email_input" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >비밀번호</span>
            </div>
            <input type="password" id="password" class="form-control login_pw_input" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <button type="button" class="btn btn-info login_btn">로그인</button>
    </section>
</div>


<div class="searchbar">
    <!--    검색 -->
    <div class="col-lg-6">
        <div class="input-group">
            <input id="input-newsletter" type="text" class="form-control" placeholder="검색어를 입력하세요">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="search_newsletter()">검색</button>
              </span>
            <button type="button" class="btn btn-default new_news" onclick="new_newsletter()" value="뉴스레터추가">새로운 뉴스레터
            </button>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <!--    뉴스레터 등록 div-->
    <div class="search_insert" id="search_insert" style="display: none">
        <div class="input_box">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">제목</span>
                </div>
                <input id="letter-title" type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">카테고리</span>
                </div>
                <input id="letter-category" type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">뉴스레터 URL</span>
                </div>
                <input id="letter-url" type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <textarea class="input-group-text">뉴스레터 설명</textarea>
                </div>
                <input id="letter-desc" type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
        <button type="button" class="btn btn-default btn-info" onclick="insert_newsletter()">등록</button>
    </div>
</div>

<!--뉴스레터 리스트-->
<div id="letter-box" class="letter-columns">
    <img src="../static/refresh(2).png" class="refresh" onclick="location.reload()"/>
    <div class="card-wrapper">
        {% for newsletter in newsletters %}
            <div id="newsletters-{{ newsletter.title_news }}" class="letter" style="size:300px">
                <img class="card-img-top" src="{{ newsletter.image }}" alt="Card image cap">
                <div class="card-body">
                    <a target="_blank" href="{{ newsletter.url }}" class="card-title"
                       id="comment">{{ newsletter.title }}</a>
                    <p class="category">{{ newsletter.category }}</p>
                    <p class="card-text">{{ newsletter.desc }}</p>
                     {% if newsletter.comment %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{newsletter.comment}}</li>
                        </ul>
                    {% else %}
                        <div class="md-form">
                        <textarea class="md-textarea form-control" rows="3"
                                  placeholder="코멘트를 입력해주세요"></textarea>
                        <button onclick="comment_insert('{{ newsletter.title }}',this)" type="button"
                                class="btn btn-default">save
                        </button>
                        </div>
                    {% endif %}
                </div>
                <footer class="card-footer">
                    {% if newsletter.like %}
                        <i class="fas fa-star like" onclick="likeLetter('{{ newsletter.title }}',false)"></i>
                    {% else %}
                        <i class="far fa-star dontlike" onclick="likeLetter('{{ newsletter.title }}',true)"></i>
                    {% endif %}
                        <i onclick="deleteLetters('{{ newsletter.title }}')" class="fas fa-ban"></i>
                </footer>
            </div>
        {% endfor %}
    </div>
</div>

</div>
</body>
<script src="/static/script/loginJs.js"></script>
<script src="/static/script/letterJs.js"></script>
<script src="/static/script/searchbarJs.js"></script>
</html>


