<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>


    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

    <title>뉴편함</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/loginStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/css/letterStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/css/searchbarStyle.css">

    <script>
        {# let newsletters = {{ newsletters }}; #}
    </script>
</head>
<body>

<nav>
    <i></i>
    <span class="title">뉴편함</span>
    <div class="button_box">
    <input class="btn btn-primary " type="button" onclick="insertData()" value="데이터넣기">
        <input class="btn btn-primary open_signup_btn" type="button" value="회원가입">
        <input class="btn btn-primary open_login_btn" type="button" value="로그인">
    </div>
</nav>
<div class="login">
    <section class="signup_section">
        <span>회원가입</span>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">이름</span>
            </div>
            <input type="text" id="myname" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">메일</span>
            </div>
            <input type="text" id="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">비밀번호</span>
            </div>
            <input type="text" id="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">비밀번호 확인</span>
            </div>
            <input type="text" id="password_check" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <button type="button" class="btn btn-info" onclick="onSignup()" >가입하기</button>
    </section>
    <section class="login_section">
        로그인
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text ">이메일</span>
            </div>
            <input type="text" class="form-control login_email_input" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text ">비밀번호</span>
            </div>
            <input type="text" class="form-control login_pw_input" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <button type="button" class="btn btn-info login_btn">로그인</button>
    </section>
</div>


<div class="searchbar">
    <!--    검색 -->
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="검색어를 입력하세요">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">검색</button>
              </span>
            <button type="button" class="btn btn-default new_news" onclick="new_newsletter()" value="뉴스레터추가">새로운 뉴스레터
            </button>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

    <!--    뉴스레터 등록 div-->
    <div class="search_insert" id="search_insert" style="display: none">
        <div class="input_box">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">제목</span>
                </div>
                <input id="letter-title" type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">카테고리</span>
                </div>
                <input id="letter-category" type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">뉴스레터 URL</span>
                </div>
                <input id="letter-url" type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <textarea class="input-group-text">뉴스레터 설명</textarea>
                </div>
                <input id="letter-desc" type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
        <button type="button" class="btn btn-default btn-info" onclick="insert_newsletter()">등록</button>
    </div>
</div>


<div id="letter-box" class="letter-columns">
    <div class="letter" style="size:300px">
        <img class="letter-img-top"
             src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
             alt="letter image cap">
        <div class="letter-body">
            <a target="_blank" href="#" class="letter-title">여기 기사 제목이 들어가죠</a>
            <p class="letter-text">기사의 요약 내용이 들어갑니다</p>
            <p class="letter-text comment">여기에 코멘트가 들어갑니다.</p>
            <footer class="letter-footer">
                <div class="startRadio">
                    <label class="startRadio__box">
                        <input type="radio" name="star" id="">
                        <span class="startRadio__img"><span class="blind">별 1개</span></span>
                    </label>
                    <label class="startRadio__box">
                        <input type="radio" name="star" id="">
                        <span class="startRadio__img"><span class="blind">별 1.5개</span></span>
                    </label>
                    <label class="startRadio__box">
                        <input type="radio" name="star" id="">
                        <span class="startRadio__img"><span class="blind">별 2개</span></span>
                    </label>
                    <label class="startRadio__box">
                        <input type="radio" name="star" id="">
                        <span class="startRadio__img"><span class="blind">별 2.5개</span></span>
                    </label>
                    <label class="startRadio__box">
                        <input type="radio" name="star" id="">
                        <span class="startRadio__img"><span class="blind">별 3개</span></span>
                    </label>
                    <label class="startRadio__box">
                        <input type="radio" name="star" id="">
                        <span class="startRadio__img"><span class="blind">별 3.5개</span></span>
                    </label>

                </div>
                <a href="#" onclick="deleteLetter()" class="card-footer-item has-text-danger">
                    삭제
                    <span class="icon">
              <i class="fas fa-ban"></i>
            </span>
                </a>
            </footer>
        </div>
    </div>
    <div class="letter">
        <img class="letter-img-top"
             src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
             alt="letter image cap">
        <div class="letter-body">
            <a target="_blank" href="#" class="letter-title">여기 기사 제목이 들어가죠</a>
            <p class="letter-text">기사의 요약 내용이 들어갑니다</p>
            <p class="letter-text comment">여기에 코멘트가 들어갑니다.</p>
            <div class="startRadio">
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 1개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 1.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 2개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 2.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 3개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 3.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 4개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 4.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 5.5개</span></span>
                </label>
            </div>
        </div>
    </div>
    <div class="letter">
        <img class="letter-img-top"
             src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
             alt="letter image cap">
        <div class="letter-body">
            <a target="_blank" href="#" class="letter-title">여기 기사 제목이 들어가죠</a>
            <p class="letter-text">기사의 요약 내용이 들어갑니다</p>
            <p class="letter-text comment">여기에 코멘트가 들어갑니다.</p>
            <div class="startRadio">
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 1개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 1.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 2개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 2.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 3개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 3.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 4개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 4.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 5.5개</span></span>
                </label>
            </div>
        </div>
    </div>
    <div class="letter">
        <img class="letter-img-top"
             src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
             alt="letter image cap">
        <div class="letter-body">
            <a target="_blank" href="#" class="letter-title">여기 기사 제목이 들어가죠</a>
            <p class="letter-text">기사의 요약 내용이 들어갑니다</p>
            <p class="letter-text comment">여기에 코멘트가 들어갑니다.</p>
            <div class="startRadio">
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 1개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 1.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 2개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 2.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 3개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 3.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 4개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 4.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 5.5개</span></span>
                </label>
            </div>
        </div>
    </div>
    <div class="letter">
        <img class="letter-img-top"
             src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
             alt="letter image cap">
        <div class="letter-body">
            <a target="_blank" href="#" class="letter-title">여기 기사 제목이 들어가죠</a>
            <p class="letter-text">기사의 요약 내용이 들어갑니다</p>
            <p class="letter-text comment">여기에 코멘트가 들어갑니다.</p>
            <div class="startRadio">
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 1개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 1.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 2개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 2.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 3개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 3.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 4개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 4.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 5.5개</span></span>
                </label>
            </div>
        </div>
    </div>
    <div class="letter">
        <img class="letter-img-top"
             src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
             alt="letter image cap">
        <div class="letter-body">
            <a target="_blank" href="#" class="letter-title">여기 기사 제목이 들어가죠</a>
            <p class="letter-text">기사의 요약 내용이 들어갑니다</p>
            <p class="letter-text comment">여기에 코멘트가 들어갑니다.</p>
            <div class="startRadio">
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 1개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 1.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 2개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 2.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 3개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 3.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 4개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 4.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 5.5개</span></span>
                </label>
            </div>
        </div>
    </div>
    <div class="letter">
        <img class="letter-img-top"
             src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
             alt="letter image cap">
        <div class="letter-body">
            <a target="_blank" href="#" class="letter-title">여기 기사 제목이 들어가죠</a>
            <p class="letter-text">기사의 요약 내용이 들어갑니다</p>
            <p class="letter-text comment">여기에 코멘트가 들어갑니다.</p>
            <div class="startRadio">
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 1개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 1.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 2개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 2.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 3개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 3.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 4개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 4.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 5.5개</span></span>
                </label>
            </div>
        </div>
    </div>
    <div class="letter">
        <img class="letter-img-top"
             src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
             alt="letter image cap">
        <div class="letter-body">
            <a target="_blank" href="#" class="letter-title">여기 기사 제목이 들어가죠</a>
            <p class="letter-text">기사의 요약 내용이 들어갑니다</p>
            <p class="letter-text comment">여기에 코멘트가 들어갑니다.</p>
            <div class="startRadio">
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 1개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 1.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 2개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 2.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 3개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 3.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 4개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 4.5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 5개</span></span>
                </label>
                <label class="startRadio__box">
                    <input type="radio" name="star">
                    <span class="startRadio__img"><span class="blind">별 5.5개</span></span>
                </label>
            </div>
        </div>
    </div>
</div>

</div>
</body>
<script src="/static/script/loginJs.js"></script>
<script src="/static/script/letterJs.js"></script>
<script src="/static/script/searchbarJs.js"></script>
</html>


